.App {
  margin: 0;
  padding: 0;
}
.Container {
  background-color: whitesmoke;
  margin: 1rem 2rem;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header input {
  padding: 0.25rem;
}
.header button {
  border: 1px solid black;
  background-color: white;
  margin-right: 1rem;
  padding: 0.25rem;
}
.listMovies {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
  background-color: whitesmoke;
  border: solid 1px black;
}

.showCard {
  position: relative;
  width: max-content;
  margin: 1rem;
  height: 49vh;
}
img + div {
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  color: white;
  font-weight: bold;
  width: 100%;
}

.showImage:hover + .showName {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.432);
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5rem 0;
}

.MainCard {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.MainCard > div {
  flex-basis: 100%;
}

.MainCard > div button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.castName {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.showInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showInfo div {
  margin-right: 1rem;
}
.rightGridPart > div {
  margin: 1rem;
}
.showImageDetails {
  max-width: 16rem;
  justify-self: center;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maxRatingBar {
  height: 1.5rem;
  width: 20rem;
  background-color: rgba(156, 153, 153, 0.471);
  border: 1px solid black;
  border-radius:1rem ;
}
.filledRatingBar {
  height: 100%;
  background-color: rgba(238, 238, 34, 0.979);
  border-radius:1rem ;
}
